In [1]:
import pandas as pd
import numpy as np

In [2]:
# 1. How to import pandas and check the version?
print(pd.__version__)
# print(pd.show_versions())

1.3.5

In [3]:
# 2. How to create a series from a list, numpy array and dict?
# Create a pandas series from each of the items below: a list, numpy and a dictionary
mylist = list('abcedfghijklmnopqstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
alphabets_list = pd.Series(mylist)
arr_df = pd.Series(myarr)
dict_df = pd.Series(mydict)

In [4]:
# 3. How to convert the index of a series into a column of a dataframe?
# Difficulty Level: L1

# Convert the series ser into a dataframe with its index as another column on the dataframe.

# Input

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
# Solution 1
df = pd.DataFrame(ser.index, columns=['alphabets'])
# Solution 2
ser.to_frame().reset_index().loc[:, ['index']][:6]

  index
0     a
1     b
2     c
3     e
4     d
5     f

In [5]:
# 4. How to combine many series to form a dataframe?
# Difficulty Level: L1

# Combine ser1 and ser2 to form a dataframe.

# Input
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

# Solution 1
df = pd.DataFrame(data={
    "alphabets": ser1,
    "integers": ser2
})

# Solution 2
pd.concat([ser1, ser2], axis=1).head()

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

In [6]:
# 5. How to assign name to the series’ index?
# Difficulty Level: L1

# Give a name to the series ser calling it ‘alphabets’.

# Input

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name = 'alphabets'
ser[:5]

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

In [7]:
# 6. How to get the items of series A not present in series B?
# Difficulty Level: L2

# From ser1 remove items present in ser2.

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser1[~(ser1.isin(ser2))]

0    1
1    2
2    3
dtype: int64

In [8]:
# 7. How to get the items not common to both series A and series B?
# Difficulty Level: L2
# Get all items of ser1 and ser2 not common to both.

# Input

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

# Solution 1
unique_ser1 = ser1[~(ser1.isin(ser2))]
unique_ser2 = ser2[~(ser2.isin(ser1))]
print(pd.concat([unique_ser1, unique_ser2]))

# Solution 2
ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [9]:
# 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?
# Difficuty Level: L2

# Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

# Input
np.random.seed(123)
ser = pd.Series(np.random.normal(10, 5, 25))
# Solution 1
print(f'min: {round(ser.min(), 2)}')
print(f'max: {round(ser.max(), 2)}')
print(f'25th_percentile: {np.percentile(ser, 25)}')
print(f'75th_percentile: {np.percentile(ser, 75)}')
# Solution 2
np.percentile(ser, q=[0, 25, 50, 75, 100])

min: -2.13
max: 21.03
25th_percentile: 6.605569241889729
75th_percentile: 15.879145223910516

array([-2.13339622,  6.60556924,  9.52645516, 15.87914522, 21.02965041])

In [10]:
# 9. How to get frequency counts of unique items of a series?
# Difficulty Level: L1

# Calculte the frequency counts of each unique value ser.

# Input

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

c    6
d    5
g    5
e    4
f    4
a    3
h    2
b    1
dtype: int64

In [11]:
# 10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?
# Difficulty Level: L2

# From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

# Input

np.random.seed(123)
ser = pd.Series(np.random.randint(1, 5, [12]))
print(ser)
print(ser.value_counts().nlargest(2))
ser[~(ser.isin(ser.value_counts().nlargest(2).index))] = 'other'
ser

0     3
1     2
2     3
3     3
4     1
5     3
6     3
7     2
8     4
9     3
10    4
11    2
dtype: int32
3    6
2    3
dtype: int64

0         3
1         2
2         3
3         3
4     other
5         3
6         3
7         2
8     other
9         3
10    other
11        2
dtype: object

In [12]:
# 1. How to bin a numeric series to 10 groups of equal size?
# Difficulty Level: L2

# Bin the series ser into 10 equal deciles and replace the values with the bin name.

# Input
np.random.seed(123)
ser = pd.Series(np.random.random(20))

# Desired Output

# # First 5 items
# 0    7th
# 1    9th
# 2    7th
# 3    3rd
# 4    8th
# dtype: category
# Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]
print(
    pd.qcut(ser,
           q=np.arange(0, 1.1, 0.1),
           labels=[
               '1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th',
               '10th'
           ])[:5])

0    8th
1    3rd
2    2nd
3    7th
4    9th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

In [13]:
# 12. How to convert a numpy array to a dataframe of given shape? (L1)
# Difficulty Level: L1

# Reshape the series ser into a dataframe with 7 rows and 5 columns

# Input

# Solution 1
ser = pd.Series(np.random.randint(1, 10, 35))
print(pd.DataFrame(np.array(ser).reshape((7, 5))).head())
print('=====================')
# Solution 2
df = pd.DataFrame(ser.values.reshape(7,5))
print(df.head())

   0  1  2  3  4
0  9  1  8  4  5
1  7  2  6  7  3
2  2  9  4  6  1
3  3  7  3  5  5
4  7  4  1  7  5
=====================
   0  1  2  3  4
0  9  1  8  4  5
1  7  2  6  7  3
2  2  9  4  6  1
3  3  7  3  5  5
4  7  4  1  7  5

In [14]:
# 13. How to find the positions of numbers that are multiples of 3 from a series?
# Difficulty Level: L2

# Find the positions of numbers that are multiples of 3 from ser.

# Input
np.random.seed(123)
ser = pd.Series(np.random.randint(1, 10, 7))
print(ser)
print('===============')
# Solution 1
print(ser[ser % 3 == 0].index)
# Solution 2
np.argwhere(np.array(ser) % 3 == 0)

0    3
1    3
2    7
3    2
4    4
5    7
6    2
dtype: int32
===============
Int64Index([0, 1], dtype='int64')

array([[0],
       [1]], dtype=int64)

In [15]:
# 14. How to extract items at given positions from a series
# Difficulty Level: L1

# From ser, extract the items at positions in list pos.

# Input

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
# Solution 1
print(ser[pos])
# Solution 2
print(np.take(ser, pos))

0     a
4     e
8     i
14    o
20    u
dtype: object
0     a
4     e
8     i
14    o
20    u
dtype: object

In [17]:
# 15. How to stack two series vertically and horizontally ?
# Difficulty Level: L1

# Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

# Input

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
print(pd.concat([ser1, ser2]))
print(pd.concat([ser1, ser2], axis=1))

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [51]:
# 16. How to get the positions of items of series A in another series B?
# Difficulty Level: L2

# Get the positions of items of ser2 in ser1 as a list.

# Input

ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

# Solution
print(ser1[ser1.isin(ser2)].index)

# Solution 1
print([np.where(i == ser1)[0].tolist()[0] for i in ser2])

# Solution 2
print([pd.Index(ser1).get_loc(i) for i in ser2])

Int64Index([0, 4, 5, 8], dtype='int64')
[5, 4, 0, 8]
[5, 4, 0, 8]

In [60]:
# 7. How to compute the mean squared error on a truth and predicted series?
# Difficulty Level: L2

# Compute the mean squared error of truth and pred series.

# Input

truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

print(f'MSE: {sum((truth - pred) ** 2) / len(pred)}')

MSE: 0.3302345391427925

In [63]:
# 18. How to convert the first character of each element in a series to uppercase?
# Difficulty Level: L2

# Change the first character of each word to upper case in each word of ser.

ser = pd.Series(['how', 'to', 'kick', 'ass?'])
# Solution 1
print(ser.apply(lambda x: x.title()))
# Solution 2
print(ser.map(lambda x: x.title()))

0     How
1      To
2    Kick
3    Ass?
dtype: object
0     How
1      To
2    Kick
3    Ass?
dtype: object

In [65]:
# 19. How to calculate the number of characters in each word in a series?
# Difficulty Level: L2

# Input

ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.map(lambda x: {x: len(x)})

0     {'how': 3}
1      {'to': 2}
2    {'kick': 4}
3    {'ass?': 4}
dtype: object

In [69]:
# 20. How to compute difference of differences between consequtive numbers of a series?
# Difficulty Level: L1

# Difference of differences between the consequtive numbers of ser.

# Input
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

# Desired Output

# [nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
# [nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]
ser.diff().diff().values

array([nan, nan,  1.,  1.,  1.,  1.,  0.,  2.])